RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [QSA,L]

#
# When testing, it is recommended to change here
# RewriteRule ^ public/test_index.php [QSA,L]
#